@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


:root {
    font-size: 16px;
    --fonte-general: 'Ubuntu', sans-serif;
}

body {
    font-family: var(--fonte-general);
}

h1 {
    font-size: 1.5rem;
    margin-left: 30rem;
}

.elementos-em-linha {
    display: flex;
    justify-content: space-between;
}

.botao{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-right: 100px;
}

form {
    width: 600px;
    padding: 10px 300px;
}