@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    box-sizing: border-box;
}

/*Aqui todo texto dentro do body vai usar a fonte "Ubuntu" importada do Google Fonts, caso não use vai usar qualquer uma sem serif*/
body {
    font-family: 'Ubuntu', sans-serif;
    background-color: beige;
}

.titulo-pagina {
    width: 600px;
    margin: 2rem auto; /*Define a margem 2 para cima e 2 para baixo*/
    text-align: center;
    font-size: 2.2rem;
}

main {
    width: 600px;
    border: 1px solid black;
    margin: auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 4px 4px 2px #888;
}

.elementos-em-linha{
    display: flex; /*Vai organizar os elementos com flexbox*/
    justify-content: space-between; 
    border-radius: 5px;
    gap: 1rem;
}

.botoes{
    margin: 2rem 0;
    display: flex;
    gap: 1rem;
}

button {
    width: 100%;
    line-height: 2.2rem;
}

input {
    width: 100%;
    line-height: 2.2rem;
    border-radius: 4px;
    border: 1px solid #000;
    padding-left: 8px;
    margin-top: 4px;
    /*outline: none;*/
}

#resultadoTri{
    border: 1px solid black;
    height: 2rem;
    margin: 2rem 0 0 0;
    border-radius: 6px;
    display: flex;
    flex-direction: row;/*estabelece a direção de alinhamento*/
    justify-content: center;/*alinha no eixo principal*/
    align-items: center;/*alinha no eixo secundário*/
}

button {
    border: none; /*Retira a borda do botão*/
    border-radius: 4px; /*Arredonda a borda*/
}

button:hover {
    cursor: pointer;
}

button:active {
    box-shadow: inset 2px 2px 2px #333;
}

#btResultadoTri {
    background-color: #2078ec; /*Cor de fundo do botão*/
    color: #FFFFFF; /*Cor da letra do botão*/
}

#btResultadoTri:hover {
    background-color: #2078ec;
}

#btResultadoTri:active {
    background-color: #1d6dd6;
}

#btLimpar{
    background-color: #e85391;
    color: #FFFFFF;
}

#btlimpar:hover {
    background-color: #e85391;
}

#btlimpar:active{
    background-color: #e82375;
}

