:root {
    font-size: 16px;
}

body {
    background-color: aqua;

    line-height: 1.5;
}

form {
    background-color: blueviolet;
    margin-bottom: 1rem;
}

input {
    font-size: 1.5rem;
}

h1 {
    margin-left: 30rem;
    font-size: xx-large;
}
